* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* UTILITY */
.container {
    width: 70%;
    margin: 0 auto;
}

.container:after {
    content: '';
    display: table;
    clear: both;
}

ul {
    height: 60px;
}

.cl_l li, .cl_r li {
    display: inline-block;
    list-style: none;
    line-height: 70px;
}
.cl_l li {
    margin-right: 20px;
}
.cl_r li {
    margin-left: 20px;
}

.cl_l a, .cl_r a {
    color: lightgrey;
    text-decoration: none;
}

/* UTILITY JS */
.cl_r .menu-azienda.active {
    display: block;
}

/* Button */
.btn-download {
    padding: 10px 12px;
    border-radius: 20px;
    color: white;
    background-color: #EB008D;
}
.cl_r li .btn-download {
    color: white;
}

/* Header */
[class^="cl_"] {
    margin-top: 10px;
}

.cl_l {
    float: left;
    width: 40%;
}
.cl_r {
    float: right;
    width: 60%;
}

/* Header menu-left */
.menu-left {
    display: flex;
    text-transform: uppercase;
}

.cl_l .logo {
    height: 100%;
    width: 200px;
}

.cl_l .personale a {
    color: black;
}

/* Header menu-right */
.menu-right {
    display: flex;
    justify-content: flex-end;
    text-transform: capitalize;
}

/* Sottomenù */
.azienda {
    position: relative;
}
.cl_r .menu-azienda {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.cl_r .menu-azienda .sottomenu {
    height: 100%;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cl_r .menu-azienda li {
    display: block;
    width: 100%;
}

/* Sezione Nuovo */
.affiliates {
    position: relative;
}
.new {
    position: absolute;
    top: -20%;
    color: #EB008D;
    font-size: 13px;
    font-weight: bold;
}

/* Hover */
a:hover {
    color: black;
}